@media (max-width: 1025px){
/* header */
header{
    padding-inline: 92px;
}

.section1{
    padding: 171px 92px;

}

.section2{
    padding: 130px 93px;
     
}

.hide1025{
    display: none;
}



.card {
    width: 410px;
}



}


@media (max-width:835px){

    header{
        padding-inline: 67px;
    }

    .section1{
        padding: 115px 67px;
    
    }


    .section2{
        padding: 80px 67px;
    }

    .card {
        width: 340px;
    }

}



