 @media (max-width:377px){
    /* header */
    header{

        padding:9px 14px;
    }


    .burger{
            display: block;
        }

    
    nav li{
        display: none;
    }


    .section1{
        padding: 119px 14px;

        } 

        .section1_h2{
            font-size: 32px;
            line-height: 40px;
        }

        .section1_p{
            font-size: 14px;
            line-height: 22px;

        }



        .section2{
            padding: 48px 14px;
        }
    
        .card_container{
            flex-direction:column;
            row-gap: 20px;
        }

        .card{
            width: 347px;
        }

 }


